---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <p>Web de notas para estudiar o simplemente para apuntar lo más importante, disponible en tablet, movil y ordenador o cualquier dispositivo con acceso a un navegador web.</p>
</Layout>